<html>
  <head>
    <title>{% block title %}Xoma: Photo Contest{% endblock %}</title>
	<link rel="stylesheet" href="/contest/static/css/blueprint/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="/contest/static/css/project.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script type="text/javascript" src="/contest/static/js/jquery.js"></script>
	<script type="text/javascript" src="/contest/static/js/thickbox.js"></script>
	<script type="text/javascript" src="/contest/static/js/project.js"></script>
	<link rel="stylesheet" href="/contest/static/css/thickbox.css" type="text/css" media="screen" />
  </head>
  <body>
	<div class="container">
	    <div class="header">
            <div class="span-24">
                <h1>{% block pagetitle %}{% endblock %}</h1>
                {% block header %}{% endblock %}
            </div>
        </div>
        <div class="prepend-1 span-22 append-1 content">
            {% block content %}{% endblock %}
        </div>
	</div>
  </body>
</html>