{% extends 'site_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<hr class="space" />
<div class="span-24 header">
    <h2>Account Login</h2>
    <p>Please fill in the username.</p>
</div>

<div class="span-22 prepend-1 append-1">
    {% if form.errors %}
        <p class="error-box">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action=".">
    <fieldset>
        <legend>All fields required</legend>
        <p>
            <label for="id_username">Username:</label><br>
            {{ form.username }}
        </p>
        <p>
            <label for="id_password">Password:</label><br>
            {{ form.password }}
        </p>
        <input type='submit' value='login' />
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    </form>
</div>
{% endblock %}